node_modules/
dist/
shell/runtime/node_modules/
shell/runtime/node/
docs.local/
shell/icon.png
shell/build/icon.png
shell/build/favicon.svg
shell/build/background.png
shell/build/background@2x.png
*.log
.DS_Store
